* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  /* background-image: url("/img/fondo.jpg"); */
  background-position: center;
  background-color: #080802de;
}

header {
  width: 100%;
  height: 8rem;
  background-color: #66ba3c5e;
  position: fixed;
  z-index: 1;
}
header > nav {
  width: 100%;
  height: 100%;
  display: flex;
}
nav > img {
  width: 10%;
  height: 100%;
}
header > nav > .nav-menu {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header > nav > .nav-menu > p {
  font-size: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
header > nav > .nav-menu > p:hover {
  color: #4b4408;
}
header > nav > .nav-menu > a {
  text-decoration: none;
  font-size: 2.5rem;
  color: #000000;
}
/*----------Encabezado y formulario-----------*/
.main-index {
  width: 50%;
  height: 65rem;
  border-radius: 2rem;
  background-color: #00000076;
  position: relative;
  top: 10rem;
  left: 30rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
}
/*----------Encabezado del formulario-----------*/
.title-bank {
  position: absolute;
  font-size: 3rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  top: 1rem;
  right: 1rem;
  height: 10rem;
  display: flex;
  align-items: center;
  border-radius: 2rem;
  color: aliceblue;
}
.title-bank > img {
  width: 15rem;
  margin-top: 0;
}
/*----------Formulario-----------*/
.form-table {
  width: 60rem;
  height: 50rem;
  margin-top: 14rem;
  border-radius: 1.2rem;
  background-color: #d9d777d3;
}
legend {
  font-size: 3rem;
  color: #000000;
  text-align: center;
  background-color: #d9d777d3;
  border-radius: 1rem;
}

table {
  width: 100%;
  height: 100%;
}
label {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
}
label > input {
  border-radius: 6px;
  height: 3rem;
  width: 40rem;
  text-align: center;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.54);
}
label > input:hover {
  box-shadow: 0 0.3rem 0.9rem green;
}

::placeholder {
  color: #38b03ade;
}
select {
  border-radius: 6px;
  height: 3rem;
  width: 40rem;
  text-align: center;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.54);
}
select:hover {
  box-shadow: 0 0.3rem 0.9rem green;
}
.botton-submit {
  width: 20%;
  height: 100%;
}
.botton-submit > .enviar {
  width: 100%;
  height: 100%;
  background-color: #000000e0;
  color: #d9d777d3;
  font-size: 3rem;
}
.terminos {
  font-size: 2rem;
}
/*----------Footer-----------*/
footer {
  background-color: rgba(0, 0, 0, 0.617);
  height: 12rem;
  margin-top: 15rem;
}
footer > .info {
  color: aliceblue;
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
}

.link-footer {
  text-decoration: none;
  color: white;
}
.link-footer:hover {
  color: #d9d777d3;
}
/*-------Ingreso---------  */
.main-ingreso {
  width: 30%;
  height: 35rem;
  border-radius: 2rem;
  background-color: #fafafab4;
  position: relative;
  top: 12rem;
  left: 45rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
}
.ahead-ingreso {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  justify-content: space-evenly;
}
.ahead-ingreso > img {
  width: 20%;
  height: 20%;
}
.ahead-ingreso > .text-ingreso {
  font-size: 5rem;
}
/*---------------Botones-------------- */
.input-user {
  width: 100%;
  height: 5rem;
}
.input-user::placeholder {
  color: #bab909;
}
.input-password {
  margin-top: 2rem;
  width: 63%;
  height: 5rem;
  position: absolute;
  bottom: 13.4rem;
}
.input-password::placeholder {
  color: #bab909;
}
.input-login > input {
  margin-top: 7rem;
  width: 12rem;
  height: 5rem;
  background-color: #baba09b9;
  border-radius: 1rem;
  cursor: pointer;
}
/*---------------Pagina del usuario-------------- */
.main-usuario {
  width: 45%;
  height: 48rem;
  border-radius: 2rem;
  background-color: #44441ab9;
  position: relative;
  top: 12rem;
  left: 35rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
}
/*--------------Cerrar cesion------------ */
.close {
  width: 15rem;
  height: 5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.close > a > input {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.432);
  border-radius: 1rem;
  font-size: 2rem;
}
.img-logo {
  position: absolute;
  top: 8rem;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
}
.img-logo > .img {
  width: 48%;
  display: flex;
  justify-content: center;
}
.img-logo > .img > img {
  width: 70%;
  height: 100%;
}
.img-logo > .logo {
  width: 48%;
}
.img-logo > .logo > img {
  width: 40%;
  height: 70%;
  margin-left: 7rem;
}
.img-logo > .logo > .text-user {
  height: 5rem;
  font-size: 4rem;
  text-align: center;
}
/*---------------Bienvenida------------ */
.welcome {
  border-radius: 4rem;
  height: 4rem;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #41ba097c;
  position: absolute;
  top: 25rem;
}
.welcome > p {
  text-align: center;
  font-size: 2rem;
}
/* ---------------Retiro y consulta---------- */
.ret-cons {
  width: 45%;
  height: 17rem;
  position: absolute;
  top: 30rem;
  left: 2rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.ret-cons > .retirar {
  width: 80%;
  height: 40%;
  background-color: #b09e09;
  border-radius: 2rem;
}
.ret-cons > .retirar > a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.ret-cons > .retirar > a > p {
  font-size: 2rem;
  color: wheat;
}
.ret-cons > .retirar > a > img {
  width: 50%;
  height: 50%;
  position: absolute;
  right: 0;
}

.ret-cons > .consultar {
  width: 80%;
  height: 40%;
  display: flex;
  justify-content: space-around;
  background-color: #b24f03;
  border-radius: 2rem;
  align-items: center;
  color: white;
}
.ret-cons > .consultar > a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}
.ret-cons > .consultar > a > img {
  height: 8rem;
}
.ret-cons > .consultar > a > p {
  font-size: 2rem;
  color: wheat;
}
/*-------Tranferir y consultar dinero---------- */
.trans-cons {
  width: 45%;
  height: 17rem;
  position: absolute;
  top: 30rem;
  right: 2rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
/*-----------------Transferir------------- */
.trans-cons > .transferir {
  width: 80%;
  height: 40%;
  background-color: #6da300;
  border-radius: 2rem;
}
.trans-cons > .transferir > a {
  font-size: 2rem;
  text-decoration: none;
  color: wheat;
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.trans-cons > .transferir > a > img {
  position: absolute;
  width: 70%;
  height: 60%;
  left: 12rem;
  top: 0;
}

/*-----------------Consignar------------- */
.trans-cons > .consignar {
  width: 80%;
  height: 40%;
  background-color: #0992b0;
  border-radius: 2rem;
}
.trans-cons > .consignar > a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.trans-cons > .consignar > a > img {
  width: 55%;
  height: 50%;
  left: -3rem;
  position: absolute;
}
.trans-cons > .consignar > a > p {
  font-size: 2rem;
  color: wheat;
  position: absolute;
  right: 3rem;
  top: 11.5rem;
}
/*---------Retirar dinero-------- */
.main-retirar {
  width: 45%;
  height: 48rem;
  border-radius: 2rem;
  background-color: #b09f098e;
  position: relative;
  top: 10rem;
  left: 30rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
}
/*--------Retirar-Volver atrás----------- */
.ret-volver {
  width: 15rem;
  height: 5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.ret-volver > a > input {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.432);
  border-radius: 1rem;
  font-size: 2rem;
}
/*---------------retirar-logo----------------- */
.ret-logo {
  width: 50%;
  height: 30%;
  position: absolute;
  top: 6rem;
  display: flex;
  justify-content: center;
}
.ret-logo > img {
  width: 50%;
  height: 100%;
}
/* ----------------Retirar-opciones----------------*/
.ret-opciones {
  width: 70%;
  height: 50%;
  background-color: #ffffffc5;
  border-radius: 2rem;
  position: absolute;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.ret-opciones > p {
  font-size: 3rem;
}
.ret-opciones > input {
  width: 80%;
  height: 4rem;
  border-radius: 1rem;
}
.ret-opciones > input::placeholder {
  color: #000000;
  font-size: 2rem;
  text-align: center;
}
.ret-opciones > select {
  width: 80%;
  height: 4rem;
  border-radius: 1rem;
  background-color: white;
}
.ret-opciones > .boton-submit-ret {
  height: 6rem;
  width: 30%;
}
/* ------------------Consultar-opciones------------------- */
.main-consultar {
  width: 45%;
  height: 48rem;
  border-radius: 2rem;
  background-color: #b24f0381;
  position: relative;
  top: 10rem;
  left: 30rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
}
/*-------------------Volver atrás --------------- */
.con-volver {
  width: 15rem;
  height: 5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.con-volver > a > input {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.432);
  border-radius: 1rem;
  font-size: 2rem;
}
/*-----------------Logo-Consulta de saldo ------------------- */
.consul-logo {
  width: 40%;
  height: 40%;
  position: absolute;
  top: 8rem;
}
.consul-logo > img {
  width: 100%;
  height: 100%;
}
/* ---------------------Consulta del saldo---------*/
.consul-saldo {
  width: 50%;
  height: 15%;
  position: absolute;
  bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6da300;
  border-radius: 2rem;
}
.consul-saldo > p {
  font-size: 3rem;
}
/* -------------------------Transferir dinero--------------------*/
.main-transferir {
  width: 45%;
  height: 48rem;
  border-radius: 2rem;
  background-color: #6da30093;
  position: relative;
  top: 10rem;
  left: 30rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
}
/*------------------------transferir-volver atras--------------------- */
.trans-volver {
  width: 15rem;
  height: 5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.trans-volver > a > input {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.432);
  border-radius: 1rem;
  font-size: 2rem;
}
/*-------------------transferir-logo----------- */
.trans-logo {

    width: 60%;
    height: 40%;
    position: absolute;
    top: 6rem;
}
.trans-logo > img {
    width: 100%;
    height: 100%;
}
/*---------------Opciones-transferir------------ */
.container-options {
    width: 90%;
    height: 50%;
    position: relative;
    top: 12rem;
    display: flex;
    justify-content: center;
}
.container-options > h1 {
    font-size: 2.3rem;
    color: rgb(80, 12, 12);
}
.container-options > .trans-left {
    width: 48%;
    height: 70%;
    position: absolute;
    top: 3rem;
    left: 1rem;
}
.container-options > .trans-right {
    width: 48%;
    height: 70%;
    position: absolute;
    top: 3rem;
    right: 1rem;
}
.container-options > .trans-din {
    width: 75%;
    height: 3rem;
    position: absolute;
    bottom: 0.6rem;
    border-radius: 1rem;
    background-color:rgba(80, 12, 12, 0.877);
    color:white;
}
/*-------------Parte izquierda------- */
.container-options > .trans-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.container-options > .trans-left > input {
  width: 90%;
  height: 4rem;
  border-radius: 1rem;
  background-color: #b24f03e8;
}
.container-options > .trans-left > input::placeholder {
  color: #000000;
  text-align: center;
  font-size: 1.7rem;
}

.container-options > .trans-left > select {
  width: 90%;
  height: 4rem;
  border-radius: 1rem;
  background-color: #b24f03e8;
}
/*---------------- Parte derecha-----------*/
.container-options > .trans-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.container-options > .trans-right > input {
  width: 90%;
  height: 4rem;
  border-radius: 1rem;
  background-color: #b24f03e8;
}
.container-options > .trans-right > input::placeholder{
  color: #000000;
  text-align: center;
  font-size: 1.7rem;
}
.container-options > .trans-right > select {
  width: 90%;
  height: 4rem;
  border-radius: 1rem;
  background-color: #b24f03e8;
}
/*--------------Consignar saldo--------------*/
.main-consignar {
  width: 45%;
  height: 48rem;
  border-radius: 2rem;
  background-color: #16964f7e;
  position: relative;
  top: 10rem;
  left: 30rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
}
/*-------logo----------  */
.consignar-logo {
  position: absolute;
  top: 7rem;
  width: 40%;
  height: 30%;
}
.consignar-logo > img {
  width: 100%;
  height: 100%;
}
 /*-------------container-consignar------  */
.container-consignar {
  width: 90%;
  height: 50%;
  position: absolute;
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.container-consignar > input {
  width: 90%;
  height: 4rem;
  border-radius: 1rem;
  background-color: #b09f0991;
}
.container-consignar > input::placeholder {
  color: #000000;
  font-size: 2rem;
  text-align: center;
}
.container-consignar > select {
  width: 90%;
  height: 4rem;
  border-radius: 1rem;
  background-color: #b09f099d;
}
.container-consignar > h1 {
  text-align: center;
  font-size: 3rem;
}
.container-consignar > .submit-consignar {
  width: 35%;
  font-size: 1.5rem;
  background-color: #44441ab9;
} 